@media only screen and (max-device-width: 1024px) {
  .home__scroll {
    display: none;
  }
  .home__about-text {
    width: 100%;
    padding-left: 5%;
  }
  .home__untitle {
    width: 80%;
  }
}

@media only screen and (max-device-width: 480px) {
  .pagination {
    display: block;
    float: none;
    margin-top: 0px;
  }
  .pagination__btn {
    margin-top: 10px;
  }
  .home {
    height: 900px;
  }
  .home__about-text {
    height: 450px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .pagination {
    float: none;
    margin: 0 auto;
    margin-top: 80px;
  }
  .home__about-text {
    height: 300px;
  }
}
