@media only screen and (max-device-width: 1024px) {
  .slider__arrows {
    display: none;
  }
}

@media only screen and (max-device-width: 480px) {
  .markets__container {
    padding-top: 10px;
  }
  .markets__slider {
    float: none;
    height: 700px;
  }
  .markets__slides {
    height: 390px;
  }
  .slider__slides {
    margin-left: 10px;
    transform: translate3d(0px, 0px, 0px);
    transition: .10s;
  }
  .slider__switchers {
    display: block;
    width: 70%;
    height: 200px;
    padding-top: 5px;
    margin: 0 auto;
  }
  .slider__switcher {
    margin-top: 35px;
    margin-left: 0;
  }
}

@media only screen and (min-device-width: 491px) and (max-device-width: 1024px) {

}
