body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

button, input, select {
  border: 0;
  outline: none;
  background: 0;
}

button {
  cursor: pointer;
}

:focus {
  border: 0;
}

* {
  box-sizing: border-box;
}

p, a {
  padding: 0;
  margin: 0;
}

/* wrap-container */
.prime {
  width: 100%;
}

.container {
  width: 80%;
  height: inherit;
  margin: 0 auto;
  max-width: 1170px;
}

.upbtn {
  margin-top: -20%;
  cursor: pointer;
  z-index: 999999999999999999999;
  margin-left: 85%;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #161616;
  display: none;
  text-align: center;
  color: #fff;
  font-size: 1.30em;
  padding-top: 10px;
  transition: 1s;
}

@keyframes btnUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes btnDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(300px);
  }
}
