body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

button, input, select {
  border: 0;
  outline: none;
  background: 0;
}

button {
  cursor: pointer;
}

:focus {
  border: 0;
}

* {
  box-sizing: border-box;
}

p, a {
  padding: 0;
  margin: 0;
}

/* wrap-container */
.prime {
  width: 100%;
}

.container {
  width: 80%;
  height: inherit;
  margin: 0 auto;
  max-width: 1170px;
}

.upbtn {
  position: fixed;
  float: right;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: #161616;
  display: block;
}
