.markets {
  width: 100%;
  height: 2139px;
  background: #1C1C1C;
  font-family: 'Karla', sans-serif;
}

.markets__container {
  padding-top: 100px;
  width: 100%;
  overflow: hidden;
}

.markets__slider {
  width: 95%;
  height: 500px;
  float: right;
  max-width: 1179px;
}

.slider__switchers {
  display: flex;
  width: 100%;
  height: 100px;
}

.slider__switcher {
  display: block;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  line-height: 20px;
  margin-left: 15%;
  letter-spacing: -2px;
  color: #4d4d4d;
  border-bottom: 1px solid #666666;
  transition: .30s ease-in-out;
  user-select: none;
}

.slider__switcher:first-child {
  margin-left: 0%;
}

.slider__switcher::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  transition: 1s ease-in-out;
  margin-left: -164px;
  margin-top: 48px;
  height: 2px;
  background: #62E07E;
}

.slider__switcher:last-child::after {
  margin-left: -194px;
}

.slider__switcher:hover {
  color: #fff;
  font-size: 2.10em;
}

.slider__switcher:hover::after {
  width: 160px;
}

.activeSwitcher {
  color: #fff;
  font-size: 2.10em;
}

.activeSwitcher::after {
  width: 160px;
}

.slider__slides {
  width: 100%;
  height: 400px;
  display: flex;
  flex-shrink: 0;
  transition: 1s;
  transform: translateX(0px);
}

.slider__card {
  width: 300px;
  height: 380px;
  min-width: 300px;
  max-height: 380px;
  margin-left: 30px;
  user-select: none;
  touch-action: pan-y;
}

.slider__card:first-child {
  margin-left: 0%;
}

.slider__title {
   font-weight: 700;
   line-height: 36px;
   font-size: 1.20em;
   color: #fff;
}

.slider__text {
  color: #737373;
  line-height: 26px;
  font-size: .90em;
  font-weight: 400;
  margin-bottom: 20px;
}

.slider__link {
  color: #62E07E;
  line-height: 23px;
  font-size: .60em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.slider__link span {
  padding-left: 20px;
  text-decoration: none;
}

.slider__img {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  pointer-events: none;
}

#f-card {
  background: url("../assets/card1.svg") center no-repeat;
  background-size: cover;
}

#s-card {
  background: url("../assets/card2.svg") center no-repeat;
  background-size: cover;
}

#t-card {
  background: url("../assets/card3.svg") center no-repeat;
  background-size: cover;
}

#fo-card {
  background: url("../assets/card3.svg") center no-repeat;
  background-size: cover;
}

#five-card {
  background: url("../assets/card5.svg") center no-repeat;
  background-size: cover;
}

#six-card {
  background: url("../assets/card4.svg") center no-repeat;
  background-size: cover;
}

#seven-card {
  background: url("../assets/onezero.svg");
  background-size: cover;
}

#eight-card {
  background: url("../assets/trader.svg");
  background-size: cover;
}

#nine-card {
  background: url("../assets/onezero.svg");
  background-size: cover;
}

.slider__arrows {
  width: 150px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 50px;
  float: right;
}

.slider__arrows i {
  font-size: 46px;
  cursor: pointer;
  color: #737373;
}

#f-slider {
  
}

#s-slider {
  display: none;
}
