.markets {
  width: 100%;
  height: 2139px;
  background: #1C1C1C;
  font-family: 'Karla', sans-serif;
}

.markets__container {
  padding-top: 100px;
  width: 100%;
  overflow: hidden;
}

.markets__slider {
  width: 95%;
  height: 700px;
  margin-left: 5%;
  max-width: 1179px;
}

.slider__switchers {
  display: flex;
  width: 100%;
  height: 100px;
}

.slider__switcher {
  display: block;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
  line-height: 20px;
  margin-left: 15%;
  letter-spacing: -2px;
  color: #4d4d4d;
  border-bottom: 1px solid #666666;
  transition: .30s ease-in-out;
  user-select: none;
}

.slider__switcher:first-child {
  margin-left: 0%;
}

.slider__switcher::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0px;
  transition: 1s ease-in-out;
  margin-left: -164px;
  margin-top: 48px;
  height: 2px;
  background: #62E07E;
}

.slider__switcher:last-child::after {
  margin-left: -194px;
}

.slider__switcher:hover {
  color: #fff;
  font-size: 2.10em;
}

.slider__switcher:hover::after {
  width: 160px;
}

.activeSwitcher {
  color: #fff;
  font-size: 2.10em;
}

.activeSwitcher::after {
  width: 160px;
}

.slider__slides {
  width: 100%;
  height: 400px;
  display: flex;
  flex-shrink: 0;
  transition: 1s;
  transform: translateX(0px);
}

.slider__card {
  width: 300px;
  height: 380px;
  min-width: 300px;
  max-height: 380px;
  margin-left: 30px;
  user-select: none;
  touch-action: pan-y;
}

.slider__card:first-child {
  margin-left: 0%;
}

.slider__title {
   font-weight: 700;
   line-height: 36px;
   font-size: 1.20em;
   color: #fff;
}

.slider__text {
  color: #737373;
  line-height: 26px;
  font-size: .90em;
  font-weight: 400;
  margin-bottom: 20px;
}

.slider__link {
  color: #62E07E;
  line-height: 23px;
  font-size: .60em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.slider__link span {
  padding-left: 20px;
  text-decoration: none;
}

.slider__img {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  pointer-events: none;
}

#f-card {
  background: url("../assets/card1.svg") center no-repeat;
  background-size: cover;
}

#s-card {
  background: url("../assets/card2.svg") center no-repeat;
  background-size: cover;
}

#t-card {
  background: url("../assets/card3.svg") center no-repeat;
  background-size: cover;
}

#fo-card {
  background: url("../assets/card3.svg") center no-repeat;
  background-size: cover;
}

#five-card {
  background: url("../assets/card5.svg") center no-repeat;
  background-size: cover;
}

#six-card {
  background: url("../assets/card4.svg") center no-repeat;
  background-size: cover;
}

#seven-card {
  background: url("../assets/onezero.svg");
  background-size: cover;
}

#eight-card {
  background: url("../assets/trader.svg");
  background-size: cover;
}

#nine-card {
  background: url("../assets/onezero.svg");
  background-size: cover;
}

.slider__arrows {
  width: 150px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 50px;
  float: right;
}

.slider__arrows i {
  font-size: 46px;
  cursor: pointer;
  color: #737373;
}

#s-slider {
  display: none;
}

.analytics__tabs {
  width: 100%;
  height: 900px;
}

.analytics__btns {
  width: 50%;
  max-width: 615px;
  height: 38px;
  margin-left: 50px;
  display: flex;
}

.analytics__btn {
  width: 30%;
  max-width: 123px;
  height: inherit;
  color: #929292;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  padding-top: 12px;
  font-size: .60em;
  cursor: pointer;
  user-select: none;
}

.activeAnalyticsBtn {
  background: linear-gradient(0deg, #363636, #363636);
  border-radius: 2.22222px;
  color: #fff;
}

.analytics__pages {
  width: 100%;
  height: 500px;
  background: #161616;
  border-radius: 2.22222px;
  color: #929292;
  font-weight: 400;
  font-size: .60em;
  line-height: 16px;
  margin-top: 30px;
}

.analytics__fields {
  width: 100%;
  height: 60px;
  display: flex;
  flex-shrink: 0;
  padding: 0px 25px 0px 25px;
  justify-content: space-between;
}

.analytics__field {
  width: 10%;
  max-width: 100px;
  height: inherit;
  text-align: center;
  user-select: none;
  padding-top: 35px;
}

.analytics__pages {
  width: 100%;
  height: 850px;
}

.analytics__page {
  width: 100%;
  height: 800px;
}

.analytics__item {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: 1.11px solid #333333;
  padding: 20px 25px 0px 25px;
  justify-content: space-between;
  color: #C3CFD9;
  font-weight: normal;
}

.analytics__item:last-child {
  border-bottom: 0;
}

.price--red {
  color: #FF5880;
  margin: 0;
  padding: 0;
  display: inline;
}

.item__currency {
  color: #C3CFD9;
  font-weight: bold;
}

.analytics__item span {
  display: inline-block;
  padding-top: 10px;
  width: 10%;
  text-align: center;
}

.item__--green {
  color: #46C261;
}


#se-page {
  display: none;
}

#t-page {
  display: none;
}

#fo-page {
  display: none;
}

#five-page {
  display: none;
}

.analytics__about {
  display: block;
  width: 100%;
  height: 66px;
  font-size: .80em;
  line-height: 22.4px;
  font-weight: normal;
  font-weight: 400;
  color: #A9A9A9;
  margin-top: 30px;
  border-top: 1px solid #46C261;
}
